*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

img{
    width: 100%;
}
#container,
#container-title{
    margin: 0 auto;
    width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#container-title{
    flex-direction: column;
    padding: 50px 0 ;
}


#container{
    flex-wrap: wrap;
    gap: 15px;
}

.cards{
    flex-basis: calc(100% / 4 );
}

